.button {
    @apply relative bg-blue py-3 px-4 rounded-md text-white no-underline inline-block transform transition cursor-pointer text-opacity-100;
    @apply hover:bg-blue-dark focus:bg-blue-dark active:scale-90;
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-light;

    &::after {
        content: '';
        border: 4px solid #fff;
        border-color: #fff transparent #fff transparent;
        @apply absolute block w-6 h-6 top-1/2 left-1/2 -ml-3 -mt-3 rounded-full opacity-0;
    }

    &.button-block {
        @apply w-full text-center block;
    }

    &.tiny {
        @apply py-1 px-2;
    }

    &.small {
        @apply py-2 px-3;
    }

    &.bordered,
    &.button-outlined {
        @apply border border-blue bg-transparent text-blue;

        &:hover {
            @apply border-blue-dark text-blue-dark;
        }
    }

    &.loading,
    &.wn-loading {
        @apply text-opacity-0;

        &::after {
            animation: dual-ring 1.2s linear infinite;
            @apply opacity-100;
        }
    }

    .button-icon {
        @apply inline-block mr-1;

        svg, &.svg, path {
            @apply fill-current;
        }
    }
}

@keyframes dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
